<header class="header">
  <nav class="menu">
    <div class="menu__wrapper">
      <div class="menu__brand">
        <img
          src="https://scontent.fcgh11-1.fna.fbcdn.net/v/t1.0-9/10731171_827438173945977_4186372334118810544_n.png?_nc_cat=109&_nc_oc=AQkCgpl1Xk_J53dqM1DK2K3AHI1GTB8X_XOO6o8wFHhNEYAReT_bsyOB-AuWHwwML7I&_nc_ht=scontent.fcgh11-1.fna&oh=a92cd28661834496c9dff6dafd19cb7f&oe=5DE970C5"
          alt=""
        />
      </div>
      <ul class="menu__items">
        <li class="link__item">Home</li>
        <li class="link__item">Login</li>
        <li class="link__item">Register</li>
        <li class="link__item">About Us</li>
      </ul>
    </div>
  </nav>
</header>
